html,

body {
  background-color: #008793;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  color: white;
}

p {
  color: white;
  font-size: 1.7vw;
}

.title {
  width: 100%;
  text-align: center;
}

#score {
  
  position: absolute;
  right: 4vw;
  top: 6vw;
}

#alive {
  position: absolute;
  right: 4vw;
  top: 40vw;
}

#generation {
  position: absolute;
  width: 100vw;
  text-align: center;
  top: 6vw;
}


h1{
  font-size: 2.5vw;
}

cnv {
  width: 100vw;
}